<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the rurl /chat/123456 is visited in a browser.
	It includes jQuery, socket.io.js (it is automatically served by the socket.io library), 
	and a few more JavaScript files that you should check out.
-->

<html>

<head>

	<title>Private chat room </title>

	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="banner">

		<h1 class="bannertext">
			Chat - Node.js Expres
		</h1>

	</header>


	<section class="section">

		<!-- These elements are displayed as white info cards in the middle of the screen -->

		<div class="connected">

			<img src="../img/unnamed.jpg" id="creatorImage" />

			<div class="infoConnected">
				<h2>Quien eres?</h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="yourName" placeholder="Tu nombre" /><br/>
					<input type="text" id="yourEmail" placeholder="Tu correo" /><br/>
					<input type="submit" id="yourEnter" value="Chatear" />
				</form>

			</div>

		</div>

		<div class="personinside">

			<img src="../img/unnamed.jpg" id="ownerImage" />

			<div class="infoInside">
				<h2>Chatear con <span class="nickname-chat"></span></h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="hisName" placeholder="Tu nombre" /><br/>
					<input type="text" id="hisEmail" placeholder="Tu correo" /><br/>
					<input type="submit" id="hisEnter" value="Chateat" />
				</form>

			</div>

		</div>

		<div class="invite-textfield">

			<h2>No hay nadie en la sala!</h2>
			<h5>Invita a alguien mandandole el link</h5>

			<div class="link">
				<a title="Invitar" href="" id="link"></a>
			</div>

		</div>

		<div class="left">

			<img src="../img/unnamed.jpg" id="leftImage" />

			<div class="info">
				<h2><span class="nickname-left"></span> ha dejado el chat.</h2>
				<h5>Invita a alguien mandandole el link.</h5>
			</div>

		</div>

		<div class="toomanypeople">

			<h2>No hay nadie!</h2>

		</div>

		<div class="nomessages">

			<img src="../img/unnamed.jpg" id="noMessagesImage" />

			<div class="info">
				<h2>Bienvenido al chat</h2>
				<h5>Envia un mensaje!</h5>
			</div>

		</div>

		<div class="chatscreen">

			<ul class="chats">
				<!-- The chat messages will go here -->
			</ul>

		</div>

	</section>

	<footer>

		<form id="chatform">

			<textarea id="message" placeholder="Escribe algo..."></textarea>
			<input type="submit" id="submit" value="Enviar"/>

		</form>

	</footer>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>

</body>

</html>