<!DOCTYPE html>


<html>

<head>

	<title>Crear una sala de chat</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				Chat - Node.js Express
			</h1>

	</header>

	<section>

		<div class="homesection">

			<div class="node">
				<img src="img/nodejslogo.png" alt="nodelogo" id="nodelogo"/>
				<h2 id="chat">powered web chat</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Crear una sala</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>

			
		</div>

	</section>

</body>
</html>
